@font-face {
    font-family: "PingFangSCRegular";
    src: url("../font/PingFangSCRegular.ttf") format("truetype");
}

@font-face {
    font-family: 'iconfont';
    src: url("../font/iconfont.woff2") format('woff2'),
    url("../font/iconfont.woff") format('woff'),
    url("../font/iconfont.ttf") format('ttf');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "PingFangSCRegular";
}
.clearfix {
    overflow: hidden;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}
.tac {
    text-align: center;
}
.center-wrap {
    width: 1152px;
    margin: 0 auto;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
